{% extends 'index.html' %}


{% block body %}
{% load static %}
<div class="container bg-light">
<a href="/" class="nav" style="text-decoration:none; width:auto; background: transparent;" ><span class="nav-link" style="width: fit-content;" >Shopping Home</span></a> 
<!-- <a href="/products" class="nav" style="text-decoration:none; width:auto; background: transparent;" ><span class="nav-link" style="width: fit-content;" >Product List</span></a>  -->
</div>
<div class="container bg-light">
    
    <div class="row">
        <div class="col-md-4">
            <div class="img-row mx-4">
                <img src="/media/{{product.prod_image}}" width="260px" height="320px">
            </div>
        
        </div>
        <div class="col-md-8">
            <h5>{{product.prod_name}}</h5>
            <p><b>&#8377; {{product.price}}</b></p>
            <p>{{product.prod_desc}}</p>
            <!-- <div class="row mx-4">
                <span id="addpr{{product.id}}" class="addpr" style='width: auto;'>
                <button id="pr{{product.id}}" class="btn btn-primary cart">Add to Cart</button></span>
                
            </div> -->
           <a type="button" class="btn btn-outline-danger" href="/">Back</a>
        </div>
        
    </div>
    
</div>


{% endblock body %}

{% block js %}

<script src="{% static '/js/cart.js' %}"></script>
{% endblock js %}